cloud_id                 = "cloud_id"
folder_id                = "folder_id "
ssh_user                 = "ubuntu"
public_key_path          = "~/.ssh/appuser.pub"
service_account_key_file = "path to/key.json"
zone                     = "ru-central1-a"
deploy_type              = "stage"
count_node               = "2"
service_account_id       = "service_account_id"
network_id               = "network_id"